<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="ajaxNet">
      <section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro" requirePermission="false" restartOnExternalChanges="true"/>
    </sectionGroup>
  </configSections>
  <ajaxNet>
    <ajaxSettings>
      <debug enabled="true"/>
      <oldStyle>
        <noUtcTime/>
        <renderNotASPAJAXDateTime/>
      </oldStyle>
    </ajaxSettings>
  </ajaxNet>
  <appSettings>
    <add key="SqlDataAccessBase.LogPath" value="[Log Folder Path]" />
    <add key="DBConnection" value="data source=.\SQLEXPRESS;initial catalog=[catalog];persist security info=False;user id=sa;password=[password]" />
    <add key="TeqAjax_JQueryScriptSource" value="Embedded"/>
    <add key="TeqAjax_JQueryUIScriptSource" value="Embedded"/>
    <add key="TeqAjax_CKEditorScriptSource" value="Embedded"/>
    <add key="TeqAjax_TeqCoreScriptSource" value="Embedded"/>
    <add key="TeqAjax_DebugCoreScriptsPath" value="~/Components/Debug/"/>
    <add key="TeqAjax_FileUploadTempPath" value="D:\Work\Source Code\MyPac\WebUI\UserFiles\UploadBin"/>
    <add key="TeqAjax_FileUploadValidity" value="120"/>
    <add key="TeqAjax_CKEditorHandlerException" value=""/>
    <add key="AbsoluteExcelTempPath" value="/UserFiles/ExportBin" />
    <add key="ChartImageFolder" value="D:\Source Code\MyPac\WebUI\UserFiles\ChartImages"/>
    <add key="ChartImageWebFolder" value="/UserFiles/ChartImages"/>
    <add key="EmailContent" value="D:\Work\Source Code\MyPac\WebUI\EmailFormat"/>
    <add key="EmailResponseServerURL" value="http://localhost:57174/EmailResponse.aspx"/>
    <add key="UploadedAttachmentsFolder" value="D:\Work\Source Code\MyPac\WebUI\UserFiles\UploadedAttachments"/>
    <add key="StudentCourseAttachmentFolder" value="D:\Work\Source Code\MyPac\WebUI\UserFiles\StudentCourseAttachment"/>
    <add key="UploadedMIA" value="D:\Work\Source Code\MyPac\WebUI\UserFiles\UploadedMIA"/>
    <add key="CandidateLoginURL" value="http://localhost:57174/CandidateSignIn.aspx"/>
    <add key="LogoURL" value="http://cds.mypac.org.my/Resource/mypac_logo_small_email.png"/>
    <add key="CLOExpiryDay" value="14"/>
    <add key="EmailCLOURL" value="http://localhost:57174/CLO.aspx"/>
    <add key="EmailLOURL" value="http://localhost:57174/LO.aspx"/>
    <add key="ReCaptchaSiteKey" value="6LdpohUTAAAAAFlindTcicaDOBr7bA5MXj8e2Lgf"/>
    <add key="ReCaptchaPrivateKey" value="6LdpohUTAAAAAN2hPybuGTR4BDZyhGL5L-WtNJDt"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="500000"/>
  </system.web>
  <system.webServer>
    <!--<defaultDocument>
      <files>
        <add value="Container.aspx" />
      </files>
    </defaultDocument>-->
    <handlers>
      <add name="AjaxHandlerFactory" verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro"/>
      <add name="ScriptFileHandler" verb="POST,GET" path="teqAjax/Scripts/*.ashx" type="Teq.Ajax.ScriptFileHandler"/>
      <add name="CKEditorHandler1" verb="POST,GET" path="teqAjax/CKEditor/*" type="Teq.Ajax.CKEditorHandler"/>
      <add name="CKEditorHandler2" verb="POST,GET" path="teqAjax/CKEditor/*/*" type="Teq.Ajax.CKEditorHandler"/>
      <add name="CKEditorHandler3" verb="POST,GET" path="teqAjax/CKEditor/*/*/*" type="Teq.Ajax.CKEditorHandler"/>
      <add name="CKEditorHandler4" verb="POST,GET" path="teqAjax/CKEditor/*/*/*/*" type="Teq.Ajax.CKEditorHandler"/>
      <add name="CKEditorHandler5" verb="POST,GET" path="teqAjax/CKEditor/*/*/*/*/*" type="Teq.Ajax.CKEditorHandler"/>
      <add name="CKEditorHandler6" verb="POST,GET" path="teqAjax/CKEditor/*/*/*/*/*/*" type="Teq.Ajax.CKEditorHandler"/>
      <add name="CKEditorHandler7" verb="POST,GET" path="teqAjax/CKEditor/*/*/*/*/*/*/*" type="Teq.Ajax.CKEditorHandler"/>
      <add name="FileUploadHandler" verb="POST,GET" path="teqAjax/FileUploadHandler.ashx" type="Teq.Ajax.FileUploadHandler"/>
    </handlers>
  </system.webServer>
</configuration>